* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  color: white;
  font-family: 'Amaranth', sans-serif;
}

body {
	background-image: url(../images/bg2.jpg);
  background-color: black;
	background-size: cover;
	background-position: left;
	background-attachment: fixed;
	margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255,165,0,0.7);
}








/* ==================== NAVIGATION ==================== */
#navbar {
  background-color: black;
}

.nav-link {
  border-right: 1px solid orange;
  padding: 0px;
}

.nav-link:hover {
  color: white;
}

#logo {
  height: 25px;
}

#active {
  color: orange;
}

.dropdown-menu {
  min-width: 100%!important;
  background-color: black;
}

.dropdown-item {
  color: white;
}

.brand-title {
  color: orange;
}
/*end of navigation*/








/* ==================== ABOUT ME ==================== */
.aboutme-content {
  background-color: rgb(255,255,255, 0.6);
  border-radius: 0 0 20px 20px;
  border-top: 1px solid white;
  height: 75vh;
  overflow-y: auto;
}

.aboutme-image {
  height: 100px;
}

.aboutme-info {
  min-height: 150px;
}

.avatar {
  height: 150px;
  border-radius: 15px;
}

.expertise-title {
  font-family: 'Righteous', cursive;
  background-color: rgb(0,0,0, 0.7);
}
/*end of about me*/






/* ==================== PROJECTS ==================== */
.title {
  font-family: 'Righteous', cursive;
  color: orange;
}

.sub-title {
  font-family: 'Righteous', cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 18px;
  padding: 10px 0;
}

.header-background {
  background-color: rgb(0,0,0,0.8);
  padding: 5px;
}

.project-header {
  border-bottom: 1px solid white;
}

.project-content {
  background-color: rgb(255,255,255, 0.6);
  border-radius: 0 0 20px 20px;
  height: 350px;
}

.project-image {
  height: 350px;
  object-fit: cover;
  object-position: center;
}

.project-text {
  color: black;
}

.nav-pills .nav-link {
  color: #D3D3D3;
  border-right: none;
  border-bottom: 3px solid orange;
  background-color: rgb(0,0,0,0.7);
  border-radius: 0;
}

.nav-pills .nav-link:hover {
  color: white;
}

.nav-pills .nav-link.active {
  background-color: rgb(255,165,0,0.7);
  border-bottom: none;
  color: black;
  text-shadow: none;
}

.carousel-caption {
  background-color: rgb(0,0,0,0.7);
  padding: 10px 0;
  border-radius: 10px;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover .overlay {
  background-color: rgba(170,170,170,0.4);
}

.hovereffect h2, .hovereffect img {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect img {
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  height: 250px;
  object-fit: cover;
}

.hovereffect:hover img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect section.info {
  display: inline-block;
  padding: 7px 14px;
  color: #fff;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
  opacity: 0;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: normal;
  height: 75%;
  width: 85%;
  position: absolute;
  top: 0;
  left: 7.5%;
  overflow: auto;
}

.hovereffect:hover section.info {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  background-color: rgba(0,0,0,0.7);
}
/*end of projects*/




/* ==================== FOOTER ==================== */
#footer {
  background-color: black;
  padding: 5px;
}

#footer-icon {
  height: 25px;
  width: 25px;
}

#footer-icon:hover {
  height: 30px;
  width: 30px;
}

.dot {
  color: white;
}

#disclaimer {
  text-decoration: none;
}
/*end of footer*/








/* ==================== MEDIA QUERIES ==================== */
/*Mobile Styles*/
@media only screen and (max-width: 400px) {
  .project-content {
    height: 700px;
  }

  .order {
    order: 2;
  }
}

/*Tablet Styles*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .project-content {
    height: 700px;
  }

  .order {
    order: 2;
  }
}

/*Desktop Styles*/
@media only screen and (min-width: 961px) {

}